---
import BlogHead from '../../components/BlogHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Coffee from '../../components/Coffee.astro';
import FormattedDate from '../../components/FormattedDate.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';


import { ViewTransitions } from 'astro:transitions';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BlogHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions/>
	</head>
	
	<body>
		<main>
		<Header />

			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<h4 class="title" transition:name="blog_title">{post.data.title}</h4>
									<p class="description">{post.data.description}</p>
									<div class="bottom">
										<p class="date" transition:name="blog_date"><FormattedDate date={post.data.pubDate} /></p>
										<p class="category">{post.data.category}</p>
									</div>

								</a>
							</li>
						))
					}
				</ul>
			</section>
			<Coffee />
		<Footer />

		</main>
	</body>
</html>


<style>
	section {
		padding: 2.5% 20%;
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		padding-top: 1rem;
	}

	.description {
		font-size: 1rem;
		font-weight: 400;
		line-height: 2.5;
	}

	.title {
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 700;
		line-height: 150%;
	}

	.date {
		font-weight: 700;
		line-height: 150%;
	}

	li {
		background-color: white;
		padding: 2.5rem;
		border-radius: 1.5rem;


	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}

	ul li:first-child {
		width: 100%;
		background: rgba(255, 103, 130, 0.72);
}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
		
	}
	
	
	ul li:hover {
		transition: 0.2s ease;
		transform: scale(1.05);
		box-shadow: 0rem .5rem 1rem #848484;
	}

	/* tablet */
	@media screen and (max-width: 1024px) {
		section {
			padding: 2.5% 10%;
		}

		ul li {
			width: 100%;
		}
	}

	/* mobile */
	@media screen and (max-width: 768px) {
		section {
			padding: 2.5% 5%;
		}

		
	}
	

	
	
</style>