---
import { Image } from "astro:assets";
import book from "../../assets/images/blog-1/Points&Pactise.jpg"

const {AffiliateImg} = Astro.props;
const {AffiliateLink = "https://www.buymeacoffee.com/bibilicious"} = Astro.props;
const {AffiliateName = "VIEW ON AMAZON"} = Astro.props;
const {AffiliateAlt = "Book Recommendation"} = Astro.props;

---

<section class="affiliate">
    <div class="left">
        <h2>CHECK IT OUT HERE!</h2>
        <p>The following are affiliate links and I would appreciate it if you guys use them as it helps me run this website without having to rely on ads 🙂</p>
        <a href={AffiliateLink}>{AffiliateName}</a>
    </div>

    <Image 
        src={AffiliateImg}
        alt={AffiliateAlt}
        class="Image"
        />

</section>


<style>
    .affiliate {
        display: flex;
        margin: 5% 0%;
        padding: 5%;
        border-radius: 3.125rem;
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    a {
        display: flex;
        width: 14.76638rem;
        padding: 0.875rem 2.6875rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 1.5625rem;
        background: #AFEEEE;

        color: #000;
        font-size: 1rem;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;
        line-height: normal;
    }

    .Image {
        border-radius: 3.125rem;
        border: 10px solid #FFC0CB;
        width: 15rem;
    }

    /* Mobile */

    @media screen and (max-width: 768px) {

        .affiliate {
            flex-direction: column;
            gap: 3rem;
            padding: 5%;
            margin: 0%;
            text-align: center;
            align-items: center;

        }

        h2 {
            text-align: center;
        }

        p {
            text-align: justify;
        }

        .left {
            align-items: center;
        }

        .Image {
            width: 100%;
        }
</style>