---
import type { CollectionEntry } from 'astro:content';

import BlogHead from '../components/BlogHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Coffee from '../components/Coffee.astro';
import Newsletter from '../components/Newsletter.astro';
import FormattedDate from '../components/FormattedDate.astro';
import ReadMore from '../components/ReadMore.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BlogHead title={title} description={description} />
		<script src="../components/js/progressbar.js"></script>
		<script
			data-name="BMC-Widget" 
			data-cfasync="false" 
			src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" 
			data-id="bibilicious" 
			data-description="Support me on Buy me a coffee!" 
			data-message="Enjoyed the blog? No ads here, just affiliate links and donations to keep it going. Support with a contribution!" 
			data-color="#40DCA5"
			data-position="Right" 
			data-x_margin="18" 
			data-y_margin="18"
			>
		</script>
	</head>

	<body>
		
		<main>
			<Header />
			<div id="progress-bar"></div>
			<article>

				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>

			</article>
			<Newsletter />
			<ReadMore />
			<Coffee />
			<Footer />
		</main>
	</body>
</html>


<style>
	
	article {
		display: flex;
		flex-direction: column;
		padding: 2.5% 20%;
	}
		
	
	.hero-image img {
		display: block;
		margin: 0 auto;
		border-radius: 1rem;
	}
	.prose {
		margin: auto;
		color: black;
		line-height: 2.5;
	}
	.title {
		padding: 2.5rem 10rem;
		text-align: center;
		line-height: 2;
	}
	.title h1 {
		text-align: center;
		font-size: 2rem;
		font-weight: 700;
		line-height: normal;
	}

	
	.date {
		margin-bottom: 0.5em;
		color: gray;
	}
	.last-updated-on {
		font-style: italic;
	}


	#progress-bar {
		background-color: lightblue;
		position: absolute; /* Initial position */
		width: 100%;
		top: 0;
		box-sizing: border-box;
		--progress: 0;
		position: fixed;
		height: .5rem;
		width: var(--progress);
	}


	@media screen and (max-width: 720px) {
		.prose {
			padding: 0;
		}

		p {
			line-height: 2;

		}
		
	}
</style>